html 
    head 
        title Ticket information
        link(rel='stylesheet', href='/css/ticket-info.css')
    body
        h4 Name of currently logged user: #{userName} 
        h3 Ticket information
        h4 Created at: #{created_at}  
        h4 OIB: #{owner_oib}
        h4 First name: #{firstName}
        h4 Last name: #{lastName}
        
